@using Microsoft.AspNetCore.Mvc.TagHelpers
@using IP_MVC.Models
@using BL.Domain.Questions
@model IP_MVC.Models.FlowEditViewModel

@{
    ViewBag.Title = "Edit Flow";
    Layout = "_Layout";
}

<body class="edit-page">
<div class="container-fluid">
    <img class="overlay-image position-absolute top-0 bottom-0 w-100 h-100" src="https://storage.googleapis.com/phygital-public/Flows/flow_halve_handjes.png" alt="Beschrijving van de afbeelding">
    <div class="card big-card-content border-1 border-black position-relative overflow-y--scroll">
        <div class="row m-0 p-3 position-relative flow-card">
            <div class="card  h-100 overflow-y-scroll background-color-light-blue py-2">
                <h3 class="d-flex justify-content-center px-3 pt-2 m-0">Flow</h3>

                <form asp-action="Edit" asp-controller="Flow" method="post" id="flowEditForm">
                    <div class="form-row">
                        <input type="hidden" asp-for="Flow.Id"/>

                        <div class="form-group pb-1">
                            <label asp-for="Flow.Name"></label>
                            <input asp-for="Flow.Name" id="NewName" class="form-control"/>
                        </div>
                        <div class="form-group pb-1">
                            <label asp-for="Flow.Description"></label>
                            <textarea asp-for="Flow.Description" class="form-control"></textarea>
                        </div>

                        <div class="form-group row pb-3">
                            <div class="col">
                                <label asp-for="Flow.StartDate"></label>
                                <input asp-for="Flow.StartDate" id="NewStartDate" class="form-control"/>
                            </div>
                            <div class="col">
                                <label asp-for="Flow.EndDate"></label>
                                <input asp-for="Flow.EndDate" id="NewEndDate" class="form-control"/>
                            </div>
                        </div>

                        <input type="hidden" asp-for="Flow.ParentFlowId" value="@Model.Flow.ParentFlowId"/>
                        <input type="hidden" asp-for="Flow.ProjectId" value="@Model.Flow.ProjectId"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="row m-0 pt-3  px-3 position-relative overflow-y-scroll h-100">
            <div class="card h-100 overflow-y-scroll background-color-light-blue pt-2">
                <h3 class="d-flex justify-content-center px-3 pt-2 m-0">Questions</h3>

                <table class="table px-3 background-color-light-blue" id="questions">
                    @if (Model.Questions.Any() || Model.Questions == null)
                    {
                        <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody id="sortable">
                        @foreach (var question in Model.Questions)
                        {
                            <tr>
                                <td class="question" data-question-id="@question.Id" data-position="@question.Position">@question.Text</td>
                                <td class="align-content-center">
                                    <div class="row">
                                        <div class="col-6 ">
                                            <a class="btn btn-blue" href="@Url.Action("Edit", "Question", new { questionId = question.Id })">Edit</a>
                                        </div>
                                        <div class="col-6">
                                            <a class="btn btn-blue bi bi-trash" href="@Url.Action("Delete", "Question", new { questionId = question.Id })"></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    }
                </table>
            </div>
        </div>
        <div class="py-2 d-flex justify-content-center align-items-center">

            <div class="col d-flex justify-content-center h-100">
                <button class="btn btn-blue" id="popupButton">Create New Question</button>
                @await Html.PartialAsync("_CreateQuestion", new Question { FlowId = Model.Flow.Id })
            </div>


            <div class="col d-flex justify-content-center h-100">
                <button id="saveAndRedirectButton" class="btn btn-blue py-2 h-100 d-flex align-items-center">Save and go to Flow Page</button>
            </div>
        </div>


    </div>
</div>
</body>

@section Scripts
{
    <script src="~/dist/showPopUp.entry.js" defer></script>
    <script src="~/dist/orderQuestions.entry.js" defer></script>
    <script src="~/dist/createQuestion.entry.js" defer></script>
}